.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .select-wrap {
    display: inline-block;
    margin-right: 10px;
  }
  
  .select-wrap select {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
/* classements */  

.standings{
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  font-family: 'f1-regular';
}
h2{
    text-align: center;
}
#year-select{
    width: 8rem;
    height: 2rem;
    border-radius: 2.5rem;
    text-align: center;
    background: #F2F2F2;
    display: flex;
    margin: auto;
}
.text{
    text-align: center;
}