@font-face {
    font-family: "f1-regular";
    src: url('../../fonts/formula1-regular.otf');
  }
  @font-face {
    font-family: "f1-bold";
    src: url('../../fonts/formula1-bold.otf');
  }
  @font-face {
    font-family: "f1-wide";
    src: url('../../fonts/formula1-wide.otf');
  }
  div {
    font-family: "f1-regular";
  }
  .titre-pages {
    text-align: center;
    font-family: "f1-regular";
  }
  .txt-teams {
    font-family: 'f1-regular';
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
  }
  .team-name-text{
    font-family: "f1-regular";
  }

  .nationality{
    font-family: 'f1-regular';
  }
  
  .driver-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .driver-logo {
    width: 15%;
    margin-right: 10px;
    
  }
  .driver-card {
    display: flex;
    flex-direction: column;
    width: 22.5rem;
    height: 19.5rem;
    margin: 1rem;
    background-color: #fff;
    border-right: 3px solid;
    border-top: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    pointer-events: all;
  }
  .driver-infos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .driver-rank {
    font-family: "f1-bold";
  }
  
  .driver-name {
    font-family: 'f1-bold';
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    font-weight: bold;
    margin: -25px 10px -35px 10px;
    justify-content: space-between;
  }
  .driver-image{
    width: 11rem;
    margin: auto;
  }
  .driver-name-text {
    margin-right: 1rem;
    font-family: 'f1-bold';
    font-size: 20px;
  }
  
  .driver-ranking {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
  }
  